<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSAppTransportSecurity</key>
  <dict>
    <key>NSAllowsArbitraryLoads</key>
    <false/>
    <key>NSExceptionDomains</key>
    <dict>
      <key>yenipara.com</key>
      <dict>
        <key>NSIncludesSubdomains</key>
        <true/>
        <key>NSExceptionAllowsInsecureHTTPLoads</key>
        <false/>
        <key>NSExceptionRequiresForwardSecrecy</key>
        <true/>
      </dict>
      <key>api.yenipara.com</key>
      <dict>
        <key>NSIncludesSubdomains</key>
        <true/>
        <key>NSExceptionAllowsInsecureHTTPLoads</key>
        <false/>
        <key>NSExceptionRequiresForwardSecrecy</key>
        <true/>
      </dict>
    </dict>
  </dict>
  
  <key>UILaunchScreen</key>
  <dict>
    <key>UIColorName</key>
    <string>BackgroundColor</string>
    <key>UIImageName</key>
    <string>logo</string>
  </dict>

  <key>NSLocalNetworkUsageDescription</key>
  <string>Uygulama yerel sunucudan veri çekebilmek için yerel ağa bağlanır.</string>


</dict>
</plist>

